@tailwind base;
@tailwind components;
@tailwind utilities;

/* *::-webkit-scrollbar{
  display: none ;
} */

@layer base {
  :root{
    --color-text-base: #fff;
    --color-text-base-rgb: 255  255 255;
    --color-text-inverted: #111111;
    --color-text-inverted-rgb: 17 17 17;
    --color-base-primary: #111;
    --color-base-primary-rgb: 17  17 17;
    --color-btn-spec: #EC4899;
    --color-btn-spec-rgb: 236 72  153;
    --color-btn-spec-hover:#CC0060;
    --color-btn-spec-hover-rgb:204  0 96;
    --color-input: #292929;
    --color-input-rgb: 41 41 41;
    --color-border-rgb: 40 110  149;
    --color-base-inverted:#fff;
    --color-base-inverted-rgb:255 255 255;
    --color-grad-dark: #111111;
    --color-grad-light: #ffffff1a ;
  }
}



/*  */
.maxW {
  max-width: 1400px;
}




/*  */
.move {
  transform: translateX(-84%);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.moveback {
  transform: translateX(20%);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.moveBig {
  transform: translateX(-90%);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.movebackBig {
  transform: translateX(10%);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.opacity {
  opacity: 50%;
}


/*  */
.show {
  display: block;
}
.textCol {
  color: grey;
}


/*  */

.bar:before {
  content: "";
}

.minibar:before {
  content: "";
}


 @media screen and (min-width: 1500px) {
  .xl {
    margin: auto;
  }
} 

/*  */

.open {
  transform: translateY(0);
  transition: 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

/*  */

@media screen and (min-width:1024px) {
  .changeBg{
    background-color: transparent;
  }
}